@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inconsolata');

.tabs .tab a{
    color:#4a148c;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:orangered;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:#4a148c;	
}
.tabs .indicator {
	background-color:#4a148c;
}

nav ul li:hover {
	background-color: #7c43bd;

 }
 nav ul li a:hover {
	color: orange;
	
 }

 .brand-logo{
	width: 10%;
	height: 100%;
}
h3{
	font-family: 'Lora', serif;
	font-weight: bold;
}

li{
	font-weight:lighter;
}

.tab{
	font-weight:normal;
}


#pie{
display: flex;
justify-content: space-between;
}

#icono{
float: right;
font-size: 125%;
}

.quote {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-left-color: white;
	color: white;
  }


@media only screen and (min-width: 300px) and (max-width: 475px){

	.brand-logo{
		width: 10%;
		height: 100%;
	}
	
	


}